[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dateutil = "*"
flask = "*"
# client for beanstalkd
greenstalk = "*"
requests = "*"
aiohttp = "*"
jsonpath_ng = "*"

[requires]
python_version = "3.8.1"
